@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;}

:root {
    --corTitle: rgb(255, 123, 0);
    --corBackgroundBoxImc: rgb(255, 255, 255);
    --corBeckgroundMain: rgb(255, 100, 53);
    --corTexto: rgb(49, 49, 49);
    --corBorder: rgb(255, 115, 0);
    --corBody: rgb(31, 31, 31);
    --corMain: rgba(0, 0, 0, 0.596);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
    background-color: var(--corMain);
}

.boxImc {
    position: relative;
    box-sizing: border-box;
    height: 400px;
    width: 350px;
    padding: 30px;
    margin-right: 50px;
    border-radius: 0 80px;
    background-color: var(--corBackgroundBoxImc);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.37);}

.boxImc_title {
    user-select: none;
    text-align: center;
    padding-bottom: 20px;
    color: var(--corTitle)}

.boxImc_text {
    padding-bottom: 15px;
}

.boxImc_text p{
    font-size: .9em;
    user-select: none;
    padding: 5px 10px;
    color: var(--corTexto)}

.boxImc_calc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    height: 120px;
    width: 100%;
    padding: 10px;}

.boxImc_inputs {
    position: relative;
    display: inline-block;
    padding-top: 10px;}

.boxImc_inputs label {
    user-select: none;
    font-size: 1.5em;
    color: var(--corTitle);}

.boxImc_inputs input {
    box-sizing: border-box;
    height: 30px;
    width: 70px;
    padding: 5px;
    outline: none;
    color: var(--corTexto);
    border-radius: 5px;
    border: 1.9px solid var(--corBorder);
    background-color: transparent;}

#kg {
    position: absolute;
    top: 18px;
    left: 118px;
    color: var(--corTitle);
}

#cm {
    position: absolute;
    top: 18px;
    left: 121px;
    color: var(--corTitle);
}

#calcular {
    position: absolute;
    bottom: 20px;
    left: 55%;
    transform: translate(-50%);
    height: 30px;
    width: 250px;
    cursor: pointer;
    user-select: none;
    border-radius: 3px;
    border: 1.9px solid var(--corBorder);
    font-size: 1em;
    color: var(--corTexto);
    background-color: transparent;}

#calcular:hover {
    letter-spacing: 0.1em;
    transition: .2s ease-in-out;}

.meuImc {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 85px;
    right: 30px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    animation: borda 1s alternate infinite ease-in-out;}

@keyframes borda {
    0%{border: 1px solid var(--corTitle);}
    100%{border: 4px solid var(--corTitle)}
}

#meuImc {
    user-select: none;
    font-size: 2em;
    color: var(--corTitle);
    animation: meuImc 1s alternate infinite ease-in-out;}

@keyframes meuImc {
    0%{transform: scale(0.8);}
    100%{transform: scale(1);}}

table {
    overflow: hidden;
    border-radius: 20px;
    background-color: rgb(241, 241, 241);
    font-family: 'Barlow', sans-serif;
    border-collapse: collapse;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.37);
}
tbody > tr:nth-child(2n) {
    background-color: rgb(228, 228, 228);
} 
thead {
    font-size: 1.3em;
    color: white;
}
thead tr {
    background-color: rgb(255, 136, 0);
}
tr  {
    user-select: none;
    height: 50px;
    background-color: rgb(240, 240, 240);
}
td {
    font-weight: bold;
    color: rgb(0, 105, 153);
    padding-left: 20px;
    text-align: start;
    width: 220px;
    font-size: .9em;
}